@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

body {
    background: linear-gradient(110deg, #02ccba, #3d99be, #9848d5);
    background-size: 125%;
    
    animation: hackuci 5s ease infinite;
    font-family: 'Rubik', sans-serif !important;

}

a {
    text-decoration: none !important;
}

h1 {
    font-size: 6vw !important;
    color: white;
}

h2 {
    margin-top: 1% !important;
    font-size: 3vw !important;
    color: white;
}

h3 {
    margin-top: 1% !important;
    font-size: 2vw !important;
    color: white;
}

.controls-arrow {
    color: white;
}

@keyframes hackuci { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.section {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countdown {
    color: white;
    font-size: 3vw !important;
}

.countdown .strong {
    font-weight: 500;
}

.countdown .bar {
    border-radius: 5px;
    margin: 30px auto 0px;
    width: 35%;
    height: 5px;
    background-color: white;
}

.hr {
    border-radius: 5px;
    margin: 30px auto 0px !important;
    width: 35%;
    height: 5px;
    background-color: white;
    color: white;
}

#title .title {
    font-size: 6vw !important;
    color: white;
}

#hackuci-title-logo {
    opacity: 0;
    width: 10%;
}

#title .side-flex {
    flex-direction: row;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#title .side-flex .fragment {
    margin: 10px 20px;
    font-size: 2vw !important;
    color: white;
}

#hackuci-title {
    font-family: 'Catamaran', sans-serif !important;
    margin: 2% 0 !important;
}

#hackuci-title span {
    font-weight: bold;
}

.schedule {
    width: 50vw;
    margin-top: 3% !important;
}

#logo {
    width: 100%;
    margin: 2% 0 !important;
}

#logo img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 20%;
}

#logo .cogs {
    animation: spin 12s infinite linear;
}

#logo .anteater {
    position: absolute;
    top: 9%;
    right: 40%;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.line {
    width: 60%;
    height: 2px;
    border-radius: 3px;
    background-color: white;
    margin: 25px auto !important;
}